<div class="section">
  <div class="columns">
    <div class="column is-half">
      <% @kittens.each do |k| %>
        <div class="box">
          <%= k %>
        </div>
      <% end %>
    </div>
  </div>
</div>